@page
@model CapstoneProjectDashboardFE.Pages.Admin.UserPages.IndexModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDTO[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDTO[0].Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDTO[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDTO[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDTO[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDTO[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDTO[0].Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserDTO)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                @* @if (HttpContext.Session.GetString("Role") == "1") *@
                @* { *@
                @*     <td> *@
                @*         <a asp-page="./Edit" asp-route-id="@item.FootballPlayerId">Edit</a> | *@
                @*         <a asp-page="./Delete" asp-route-id="@item.FootballPlayerId">Delete</a> *@
                @*     </td> *@
                @* } *@
            </tr>
        }
    </tbody>
</table>