@page
@model CapstoneProjectDashboardFE.Pages.Admin.ProjectPages.DetailsModel
@{
    ViewData["Title"] = "Project Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Project Details</h4>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Project ID:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.ProjectId</dd>

                    <dt class="col-sm-3">Thumbnail:</dt>
                    <dd class="col-sm-9">
                        @if (!string.IsNullOrEmpty(Model.projectDetail.Thumbnail))
                        {
                            <img src="@Model.projectDetail.Thumbnail" alt="User Avatar" class="img-fluid" width="100" height="100" />
                        }
                        else
                        {
                            <span>No Avatar</span>
                        }
                    </dd>

                    <dt class="col-sm-3">Monitor:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.Monitor</dd>

                    <dt class="col-sm-3">Creator:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.Creator</dd>

                    <dt class="col-sm-3">Backers:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.Backers</dd>

                    <dt class="col-sm-3">Title:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.Title</dd>

                    <dt class="col-sm-3">Description:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.Description</dd>

                    <dt class="col-sm-3">Status:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.Status</dd>

                    <dt class="col-sm-3">Minimum amount:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.MinimumAmount</dd>

                    <dt class="col-sm-3">Total amount:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.TotalAmount</dd>

                    <dt class="col-sm-3">Start Date:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.StartDatetime</dd>

                    <dt class="col-sm-3">End date:</dt>
                    <dd class="col-sm-9">@Model.projectDetail.EndDatetime</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                <a asp-page="./Rewards" asp-route-projectId="@Model.projectDetail.ProjectId" class="btn btn-primary">View Rewards</a>
                <a asp-page="./Faqs" asp-route-projectId="@Model.projectDetail.ProjectId" class="btn btn-info">View FAQs</a>
            </div>

        </div>
    </div>

    <script src="~/adminAssets/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/adminAssets/assets/js/core/popper.min.js"></script>
    <script src="~/adminAssets/assets/js/core/bootstrap.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/chart.js/chart.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/chart-circle/circles.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/adminAssets/assets/js/plugin/jsvectormap/world.js"></script>
    <script src="~/adminAssets/assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="~/adminAssets/assets/js/kaiadmin.min.js"></script>
    <script src="~/adminAssets/assets/js/setting-demo.js"></script>
    <script src="~/adminAssets/assets/js/demo.js"></script>
    <script src="~/adminAssets/assets/js/plugin/webfont/webfont.min.js"></script>
</body>