@page
@model CapstoneProjectDashboardFE.Pages.Admin.ProjectPages.StoryModel
@{
    ViewData["Title"] = "Project Story";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


@if (!string.IsNullOrEmpty(Model.Message))
{
    <p class="text-danger">@Model.Message</p>
}
else
{
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h1>@Model.ProjectStory.Title</h1>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <img src="@Model.ProjectStory.Thumbnail" alt="Project Thumbnail" width="500" height="300" />
                </div>

                <div class="story-content">
                    @Html.Raw(Model.ProjectStory.Story)
                </div>
            </div>
            <div class="card-footer">
                <a asp-page="./Details" asp-route-projectId="@Request.Query["projectId"]" class="btn btn-secondary">Back to Details</a>
            </div>
        </div>
    </div>
}
